<%- include('../_config', { extend: {
	relativePath: '..',
	page: {
		category: 'news',
		id: '',
		title: 'お知らせ04',
		description: 'お知らせのディスクリプションです。',
	}
}}); %><%- include('../_header'); %>
					<section class="p-news">
						<div class="l-inner --narrow">
							<h3 class="c-heading1">お知らせ一覧04</h3>
							<div class="c-news">
								<ul class="c-news04__list">
									<li class="c-news04__item --new">
										<a href="">
											<div class="c-news04__image" style="background-image: url(https://placehold.jp/350x350.png);"></div>
											<div class="c-news04__text">
												<div class="c-news04__day">2022.00.00</div>
												<div class="c-news04__cat --type1">カテゴリー</div>
												<div class="c-news04__title">
													newsタイトルが入ります。newsタイトルが入ります。newsタイトルが入ります。newsタイトルが入ります。newsタイトルが入ります。
												</div>
											</div>
										</a>
									</li>
									<li class="c-news04__item">
										<a href="">
											<div class="c-news04__image" style="background-image: url(https://placehold.jp/350x350.png);"></div>
											<div class="c-news04__text">
												<div class="c-news04__day">2022.00.00</div>
												<div class="c-news04__cat --type2">カテゴリー</div>
												<div class="c-news04__title">
													newsタイトルが入ります。newsタイトルが入ります。newsタイトルが入ります。
												</div>
											</div>
										</a>
									</li>
									<li class="c-news04__item">
										<a href="">
											<div class="c-news04__image" style="background-image: url(https://placehold.jp/350x350.png);"></div>
											<div class="c-news04__text">
												<div class="c-news04__day">2022.00.00</div>
												<div class="c-news04__cat --type3">カテゴリー</div>
												<div class="c-news04__title">
													newsタイトルが入ります。
												</div>
											</div>
										</a>
									</li>
									<li class="c-news04__item">
										<a href="">
											<div class="c-news04__image" style="background-image: url(https://placehold.jp/350x350.png);"></div>
											<div class="c-news04__text">
												<div class="c-news04__day">2022.00.00</div>
												<div class="c-news04__cat --type1">カテゴリー</div>
												<div class="c-news04__title">
													newsタイトルが入ります。newsタイトルが入ります。newsタイトルが入ります。
												</div>
											</div>
										</a>
									</li>
									<li class="c-news04__item">
										<a href="">
											<div class="c-news04__image" style="background-image: url(https://placehold.jp/350x350.png);"></div>
											<div class="c-news04__text">
												<div class="c-news04__day">2022.00.00</div>
												<div class="c-news04__cat --type2">カテゴリー</div>
												<div class="c-news04__title">
													newsタイトルが入ります。newsタイトルが入ります。newsタイトルが入ります。
												</div>
											</div>
										</a>
									</li>
									<li class="c-news04__item">
										<a href="">
											<div class="c-news04__image" style="background-image: url(https://placehold.jp/350x350.png);"></div>
											<div class="c-news04__text">
												<div class="c-news04__day">2022.00.00</div>
												<div class="c-news04__cat --type3">カテゴリー</div>
												<div class="c-news04__title">
													newsタイトルが入ります。newsタイトルが入ります。newsタイトルが入ります。
												</div>
											</div>
										</a>
									</li>
									<li class="c-news04__item">
										<a href="">
											<div class="c-news04__image" style="background-image: url(https://placehold.jp/350x350.png);"></div>
											<div class="c-news04__text">
												<div class="c-news04__day">2022.00.00</div>
												<div class="c-news04__cat --type1">カテゴリー</div>
												<div class="c-news04__title">
													newsタイトルが入ります。newsタイトルが入ります。newsタイトルが入ります。
												</div>
											</div>
										</a>
									</li>
									<li class="c-news04__item">
										<a href="">
											<div class="c-news04__image" style="background-image: url(https://placehold.jp/350x350.png);"></div>
											<div class="c-news04__text">
												<div class="c-news04__day">2022.00.00</div>
												<div class="c-news04__cat --type2">カテゴリー</div>
												<div class="c-news04__title">
													newsタイトルが入ります。newsタイトルが入ります。newsタイトルが入ります。
												</div>
											</div>
										</a>
									</li>
									<li class="c-news04__item">
										<a href="">
											<div class="c-news04__image" style="background-image: url(https://placehold.jp/350x350.png);"></div>
											<div class="c-news04__text">
												<div class="c-news04__day">2022.00.00</div>
												<div class="c-news04__cat --type3">カテゴリー</div>
												<div class="c-news04__title">
													newsタイトルが入ります。newsタイトルが入ります。newsタイトルが入ります。
												</div>
											</div>
										</a>
									</li>
									<li class="c-news04__item">
										<a href="">
											<div class="c-news04__image" style="background-image: url(https://placehold.jp/350x350.png);"></div>
											<div class="c-news04__text">
												<div class="c-news04__day">2022.00.00</div>
												<div class="c-news04__cat --type2">カテゴリー</div>
												<div class="c-news04__title">
													newsタイトルが入ります。newsタイトルが入ります。newsタイトルが入ります。
												</div>
											</div>
										</a>
									</li>
								</ul>
								<div class="c-pagination">
									<ul class="c-pagination__list">
										<li class="c-pagination__item --prev"><a href="<%= getRelativePath('/news/'); %>">PREV</a></li>
										<li class="c-pagination__item"><span>1</span></li>
										<li class="c-pagination__item"><a href="<%= getRelativePath('/news/'); %>"><span>2</span></a></li>
										<li class="c-pagination__item"><a href="<%= getRelativePath('/news/'); %>"><span>3</span></a></li>
										<li class="c-pagination__item --next"><a href="<%= getRelativePath('/news/'); %>">NEXT</a></li>
									</ul>
								</div>
							</div>
						</div>
					</section>
<%- include('../_footer'); %>
